* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(222, 216, 200);
    margin: 0px;
}

.page {
    margin-top: 50px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1;
}

.title {
    display: flex;
    justify-content: center;
    border: 5px solid black;
    height: 12%;
    width: 30%;
    color: red;
    font-weight: bold;
    font-size: 68px;
    background-color: rgb(179, 163, 121);
}

.main-screen {
    height: 55%;
    width: 40%;
    border: 5px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.upper {
    width: 100%;
    height: 70%;
    border-bottom: 5px solid black;
    background-color: transparent;
}

.lower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    gap: 20px;
}

.arena {
    width: auto;
    height: 500px;
}

button,
.start {
    border: 2px solid black;
    background-color: rgb(179, 163, 121);
    border-radius: 12px;
    padding: 8px 20px;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
}

.copyright {
    font-size: 20px;
    color: white;
}


.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: gray;


}

.player-stats{
    background-color: green;
}


.opponent-stats{
    background-color: red;
}
.images {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.fighter {
    width: 30%;
    height: 30%;;
}